*{
    padding:0;
    margin:0;
}
body{
    background-color: #333;
    margin:0;
    font-size:1.6rem;
    line-height:1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main{
    margin:30px 8px;
    padding:15px;
    border-radius:5px;
    background-color:#eee;
}
@media (max-width:460px){
    #main{
        margin:0;
    }
}
#main h1{
    font-size:4rem;
    margin-bottom:0;
}
@media (max-width:460px){
    #main h1{
        font-size:3.5rem;
        line-height:1.2;
    }
}
#head{
   display:flex;
   flex-direction: column;
   text-align: center;
   gap:5px;
}
#img-div{
    background-color: white;
    padding:10px;
    margin:0;
}
#image{
    display:block;
    height:auto;
    margin:0 auto;
    max-width:100%;
}
#img-caption{
    margin:15px, 0, 5px, 0;

}
@media (max-width:460px){
    #img-caption{
        font-size:1.4rem;
    }
}
h3{
    text-align:center;
    margin:50px 0;
}

ul{
    text-align:left;
    line-height:1.6;
    max-width:550px;
    margin:0 auto 50px auto;
}
blockquote{
font-style: italic;
max-width:545px;
text-align:left;
margin:0 auto 50px auto;
}

#footer h3{
    font-size:20px;
}